github "sindresorhus/LaunchAtLogin"
github "ashleymills/Reachability.swift"
git "https://github.com/mattgallagher/CwlUtils.git" "master"
github "CocoaLumberjack/CocoaLumberjack"
github "Swinject/Swinject"
github "stephencelis/SQLite.swift" ~> 0.11.5
