<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActivityTrackerSDU</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E1107044842A214C009F4BCBC3F3961838502806</string>
				<key>dateExpires</key>
				<string>29/03/2020</string>
				<key>type</key>
				<string>Mac Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1107044842A214C009F4BCBC3F3961838502806</string>
						<key>dateExpires</key>
						<string>29/03/2020</string>
						<key>type</key>
						<string>Mac Development</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AYB8JQ786C</string>
						<key>name</key>
						<string>Syddansk Universitet</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1107044842A214C009F4BCBC3F3961838502806</string>
						<key>dateExpires</key>
						<string>29/03/2020</string>
						<key>type</key>
						<string>Mac Development</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjackSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AYB8JQ786C</string>
						<key>name</key>
						<string>Syddansk Universitet</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1107044842A214C009F4BCBC3F3961838502806</string>
						<key>dateExpires</key>
						<string>29/03/2020</string>
						<key>type</key>
						<string>Mac Development</string>
					</dict>
					<key>name</key>
					<string>Cuckoo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AYB8JQ786C</string>
						<key>name</key>
						<string>Syddansk Universitet</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1107044842A214C009F4BCBC3F3961838502806</string>
						<key>dateExpires</key>
						<string>29/03/2020</string>
						<key>type</key>
						<string>Mac Development</string>
					</dict>
					<key>name</key>
					<string>CwlUtils.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AYB8JQ786C</string>
						<key>name</key>
						<string>Syddansk Universitet</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1107044842A214C009F4BCBC3F3961838502806</string>
						<key>dateExpires</key>
						<string>29/03/2020</string>
						<key>type</key>
						<string>Mac Development</string>
					</dict>
					<key>name</key>
					<string>LaunchAtLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AYB8JQ786C</string>
						<key>name</key>
						<string>Syddansk Universitet</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1107044842A214C009F4BCBC3F3961838502806</string>
						<key>dateExpires</key>
						<string>29/03/2020</string>
						<key>type</key>
						<string>Mac Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AYB8JQ786C</string>
						<key>name</key>
						<string>Syddansk Universitet</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1107044842A214C009F4BCBC3F3961838502806</string>
						<key>dateExpires</key>
						<string>29/03/2020</string>
						<key>type</key>
						<string>Mac Development</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AYB8JQ786C</string>
						<key>name</key>
						<string>Syddansk Universitet</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1107044842A214C009F4BCBC3F3961838502806</string>
						<key>dateExpires</key>
						<string>29/03/2020</string>
						<key>type</key>
						<string>Mac Development</string>
					</dict>
					<key>name</key>
					<string>Swinject.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AYB8JQ786C</string>
						<key>name</key>
						<string>Syddansk Universitet</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1107044842A214C009F4BCBC3F3961838502806</string>
						<key>dateExpires</key>
						<string>29/03/2020</string>
						<key>type</key>
						<string>Mac Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>com.apple.security.app-sandbox</key>
						<true/>
						<key>com.apple.security.network.client</key>
						<true/>
					</dict>
					<key>name</key>
					<string>LaunchAtLoginHelper.app</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AYB8JQ786C</string>
						<key>name</key>
						<string>Syddansk Universitet</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1107044842A214C009F4BCBC3F3961838502806</string>
						<key>dateExpires</key>
						<string>29/03/2020</string>
						<key>type</key>
						<string>Mac Development</string>
					</dict>
					<key>name</key>
					<string>Cuckoo</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AYB8JQ786C</string>
						<key>name</key>
						<string>Syddansk Universitet</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1107044842A214C009F4BCBC3F3961838502806</string>
						<key>dateExpires</key>
						<string>29/03/2020</string>
						<key>type</key>
						<string>Mac Development</string>
					</dict>
					<key>name</key>
					<string>SQLite</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AYB8JQ786C</string>
						<key>name</key>
						<string>Syddansk Universitet</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1107044842A214C009F4BCBC3F3961838502806</string>
						<key>dateExpires</key>
						<string>29/03/2020</string>
						<key>type</key>
						<string>Mac Development</string>
					</dict>
					<key>name</key>
					<string>Swinject</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AYB8JQ786C</string>
						<key>name</key>
						<string>Syddansk Universitet</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ActivityTrackerSDU.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AYB8JQ786C</string>
				<key>name</key>
				<string>Syddansk Universitet</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
